<ion-view title="Sobre" id="page3" style="background-color:#B5ACEC;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LBngTh1nQjOR4WWoA2e1_entenda-a-importancia-do-conteudo-nos-aplicativos-moveis5464-750x410.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="sobre-heading1" style="color:#000000;">Listagem de contatos :</h3>
    <div id="sobre-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">by Rick</p>
    </div>

    
    <div class="spacer" style="width: 300px; height: 200px;"></div>
    <a ui-sref="agenda" id="sobre-button3" class="button button-positive button-block icon-left ion-ios-contact-outline">Agenda</a>

    
    
  </ion-content>
</ion-view>